<label for="title">
	<f:translate key="tx_simplynews_domain_model_article.title" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="title" /><br />
<label for="date">
	<f:translate key="tx_simplynews_domain_model_article.date" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="date"  value="{article.date->f:format.date()}" /><br />
<label for="text">
	<f:translate key="tx_simplynews_domain_model_article.text" /> <span class="required">(required)</span>
</label><br />
	<f:form.textarea property="text" cols="40" rows="15" /><br />