<table class="tx-simply-news" >
	<tr>
		<td>
			<f:translate key="tx_simplynews_domain_model_article.title" />
		</td>
		<td>
			{article.title}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_simplynews_domain_model_article.date" />
		</td>
		<td>
			{article.date -> f:format.date()}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_simplynews_domain_model_article.text" />
		</td>
		<td>
			{article.text}
		</td>
	</tr>
</table>