<label for="title">
	<f:translate key="tx_simplynews_domain_model_category.title" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="title" /><br />
<label for="description">
	<f:translate key="tx_simplynews_domain_model_category.description" />
</label><br />
	<f:form.textarea property="description" cols="40" rows="15" /><br />