<table class="tx-simply-news" >
	<tr>
		<td>
			<f:translate key="tx_simplynews_domain_model_category.title" />
		</td>
		<td>
			{category.title}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_simplynews_domain_model_category.description" />
		</td>
		<td>
			{category.description}
		</td>
	</tr>
</table>