<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.


If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<h1>Listing for Media</h1>

<f:flashMessages />

<table  class="tx_simplynews" >
	<tr>
		<th><f:translate key="tx_simplynews_domain_model_media.title" /></th>
		<th><f:translate key="tx_simplynews_domain_model_media.description" /></th>
		<th><f:translate key="tx_simplynews_domain_model_media.media_type" /></th>
		<th><f:translate key="tx_simplynews_domain_model_media.reference" /></th>
		<th><f:translate key="tx_simplynews_domain_model_media.image" /></th>
		<th><f:translate key="tx_simplynews_domain_model_media.image_position" /></th>
		<th> </th>
		<th> </th>
	</tr>

	<f:for each="{medias}" as="media">
		<tr>
			<td><f:link.action action="show" arguments="{media : media}"> {media.title}</f:link.action></td>
			<td><f:link.action action="show" arguments="{media : media}"> {media.description}</f:link.action></td>
			<td><f:link.action action="show" arguments="{media : media}"> {media.mediaType}</f:link.action></td>
			<td><f:link.action action="show" arguments="{media : media}"> {media.reference}</f:link.action></td>
			<td><f:link.action action="show" arguments="{media : media}"> {media.image}</f:link.action></td>
			<td><f:link.action action="show" arguments="{media : media}"> {media.imagePosition}</f:link.action></td>
			<td><f:link.action action="edit" arguments="{media : media}">Edit</f:link.action></td>
			<td><f:link.action action="delete" arguments="{media : media}">Delete</f:link.action></td>
		</tr>
	</f:for>
</table>

<f:link.action action="new">New Media</f:link.action>
</f:section>