<f:layout name="Default" />

<f:section name="main">
	<f:if condition="{years}">
		<f:then>
			<ul class="archiveMenu">
				<f:for each="{years}" as="year">
					<li>
						<f:link.action action="list" arguments="{year: year.value}">{year.year}</f:link.action>
						<f:if condition="{settings.archiveMenu.year.showCount}">
							<span>({year.count})</span>
						</f:if>
						<ul>
							<f:for each="{year.months}" as="month">
								<li>
									<f:link.action action="list" arguments="{year: year.value, month : month.value}">
										{month.datetime -> f:format.date(format:'M')}
									</f:link.action>
									<f:if condition="{settings.archiveMenu.month.showCount}">
										<span>({month.count})</span>
									</f:if>
								</li>
							</f:for>
						</ul>
					</li>
				</f:for>
			</ul>
		</f:then>
	</f:if>
</f:section>
