<f:layout name="Default" />
<f:section name="main">
	<ul class="tx_simplynews">
		<f:for each="{articles}" as="article">
			<li>
				<f:if condition="{settings.list.showPage}">
					<f:then><f:link.action action="show" arguments="{article : article}" pageUid="{settings.list.showPage}">{article.title}</f:link.action> ({article.date -> f:format.date()})</f:then>
					<f:else><f:link.action action="show" arguments="{article : article}">{article.title}</f:link.action> ({article.date -> f:format.date()})</f:else>
				</f:if>
			</li>
		</f:for>
	</ul>
</f:section>
