<f:layout name="Default" />
<f:section name="main">
	<f:if condition="{category}">
		<p class="browsing">
			<strong>{f:translate(key:'list.browsingCategory')}</strong> <em>{category.title}</em>
		</p>
	</f:if>
	<f:if condition="{dateUsedInArchive}">
		<p class="browsing">
			<strong>{f:translate(key:'list.browsingYearAndMonth')}</strong> <em>
			<f:if condition="{isYearArchive}">
				<f:then>
					{dateUsedInArchive}
				</f:then>
				<f:else>
					<f:CObject typoscriptObjectPath="plugin.tx_simplynews.date.my">
						<f:format.date format="U">{dateUsedInArchive}</f:format.date>
					</f:CObject>
				</f:else>
			</f:if>
		</em>
		</p>
	</f:if>
	<ul class="tx_simplynews">
		<f:for each="{articles}" as="article">
			<li>
				<f:if condition="{settings.list.showPage}">
					<f:then>
						<f:link.action action="show" arguments="{article : article}" pageUid="{settings.list.showPage}">{article.title}</f:link.action>
						({article.date -> f:format.date()})
					</f:then>
					<f:else>
						<f:link.action action="show" arguments="{article : article}">{article.title}</f:link.action>
						({article.date -> f:format.date()})
					</f:else>
				</f:if>
			</li>
		</f:for>
	</ul>
</f:section>
