<f:layout name="Default"/>

<f:section name="main">
	<f:flashMessages/>
	<f:if condition="{articles}">
		<f:then>
			<ul class="tx_simplynews">
				<f:for each="{articles}" as="article">
					<li>
						<f:if condition="{settings.list.showPage}">
							<f:then>
								<f:link.action action="show" arguments="{article : article}" pageUid="{settings.list.showPage}">{article.title}</f:link.action>
								({article.date -> f:format.date()})
							</f:then>
							<f:else>
								<f:link.action action="show" arguments="{article : article}">{article.title}</f:link.action>
								({article.date -> f:format.date()})
							</f:else>
						</f:if>
					</li>
				</f:for>
			</ul>
		</f:then>
		<f:else>
			<f:if condition="{term}">
				{f:translate(key:'message.search.noResultsFound', htmlEscape:'false', arguments:'{1:\'{term}\'}') -> f:format.html()}
			</f:if>
		</f:else>
	</f:if>
</f:section>