<label for="title">
	<f:translate key="tx_simplynews_domain_model_media.title" />
</label><br />
	<f:form.textfield property="title" /><br />
<label for="description">
	<f:translate key="tx_simplynews_domain_model_media.description" />
</label><br />
	<f:form.textarea property="description" cols="40" rows="15" /><br />
<label for="mediaType">
	<f:translate key="tx_simplynews_domain_model_media.media_type" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="mediaType" /><br />
<label for="reference">
	<f:translate key="tx_simplynews_domain_model_media.reference" />
</label><br />
	<f:form.textfield property="reference" /><br />
<label for="image">
	<f:translate key="tx_simplynews_domain_model_media.image" />
</label><br />
	<f:form.upload property="image" /><br />
<label for="imagePosition">
	<f:translate key="tx_simplynews_domain_model_media.image_position" />
</label><br />
	<f:form.textfield property="imagePosition" /><br />