<table class="tx-simply-news" >
	<tr>
		<td>
			<f:translate key="tx_simplynews_domain_model_media.title" />
		</td>
		<td>
			{media.title}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_simplynews_domain_model_media.description" />
		</td>
		<td>
			{media.description}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_simplynews_domain_model_media.media_type" />
		</td>
		<td>
			{media.mediaType}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_simplynews_domain_model_media.reference" />
		</td>
		<td>
			{media.reference}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_simplynews_domain_model_media.image" />
		</td>
		<td>
			{media.image}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_simplynews_domain_model_media.image_position" />
		</td>
		<td>
			{media.imagePosition}
		</td>
	</tr>
</table>