<f:layout name="Default" />
{categories} is an array - not objects!
<f:section name="main">
	<ul class="tx_simplynews">
		<f:for each="{categories}" as="category">
			<li>
				<f:link.action action="list" arguments="{category : category.uid}" controller="Article"> {category.title}</f:link.action>
				<f:if condition="{settings.categoryMenu.showCount}">
					<span class="count">({category.count})</span>
				</f:if>
			</li>
		</f:for>
	</ul>
</f:section>
